div{
  background-color: rgb(194, 177, 235);
  color: rgb2(55, 255, 255);
  padding: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}
h1{
  color: rgb(5, 36, 21);
  background-color: #6eb96e;
  padding: 10px;;
  font-family: Arial, Helvetica, sans-serif;
}
h2{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(74, 77, 75);
  letter-spacing: 2px;
}
